html,
body {
  height: 100%;
  color: #505763;
}

body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

.box-wrap {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

#ssid {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

#password {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

input[readonly] {
  background-color: #fff !important;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid #505763;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.lds-ripple div:nth-child(2) {
  animation-delay: -0.2s;
}

@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}

.loader {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  left: 0;
}

.btn {
  box-shadow: 0 2px 4px #ccc, 0 0px 1px #ccc;
  margin-bottom: 0.7em;
  width: 100%;
  font-weight: 700;
}

.btn.status-active {
  color: #fff;
}

.active.status-active {
  background-color: #4dd964;
}

.busy.status-active {
  background-color: #f44336;
}

.away.status-active {
  background-color: #f2a813;
}

.off.status-active {
  background-color: #9ea7ad;
}

.processing-text {
  color: gray;
  font-weight: 500;
}

.instruction-text {
  border: dashed 1px #ccc;
  padding: 0.3em;
  border-radius: 5px;
}
